<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
<!--            <a class="navbar-brand" href="#">Fixed navbar</a>-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link {% if request.path == url_for('main.index') %} active {% endif %}"
                           aria-current="page" href="{{ url_for('main.index') }}">Главная</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link {% if request.path == url_for('main.event') %} active {% endif %}"
                           aria-current="page" href="{{ url_for('main.event') }}">Мероприятия</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle {% if request.path == url_for('main.seed') or request.path == url_for('main.protectionplants') %} active {% endif %}" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Каталог
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item {% if request.path == url_for('main.seed') %} active {% endif %}" href="{{ url_for('main.seed') }}">Семена</a></li>
                            <li><a class="dropdown-item {% if request.path == url_for('main.protectionplants') %} active {% endif %}" href="{{ url_for('main.protectionplants') }}">Средства защиты растений</a></li>


                        </ul>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link {% if request.path == url_for('main.company') %} active {% endif %}"
                           aria-current="page" href="{{ url_for('main.company') }}">Компании</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Менеджеры
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for manager in managers %}
                            <li><a class="dropdown-item" href="{{ url_for('main.manager', id=manager.id) }}">{{ manager.last_name }} {{ manager.first_name }}</a></li>
                            {% endfor %}

                        </ul>
                    </li>

                </ul>
<!--                <form class="d-flex">-->
<!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                    <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                </form>-->
            </div>
        </div>
    </nav>
</header>